.finder__grid {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  gap: 4px;
  margin-top: 30px;
}

.finder__cell {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  background: #ffffff;
  cursor: pointer;
}
.finder__cell--selected {
  background: #333;
}
.finder__cell--start {
  background: green;
}
.finder__cell--end {
  background: red;
}